@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');


:root{
            --color-white: #fff;
            --color-dark1: rgb(39, 39, 39);
            --color-dark2: #2d2d2d;
            --color-dark3: #414141;
            --color-dark4: #1c1c1c;
            --color-dark5: #343434;
            --color-purple: #b040ff;
}

header {
    background-color: rgba(29, 37, 34, 0.788);
    position: fixed;
    display: flex;
    width: 100vw;
    flex-direction: row;
    font-family: 'Paytone One';
    /* font-family: Rowdies; */
    padding: 1px 10px;
    color: var(--color-dark2);
}

header > h1 {
    font-weight: normal;
    color: rgb(246, 251, 253);
}

header > nav {
    display: inline-block;
}

header > nav > ul{
    display: flex;
    width: 80VW;
    justify-content:center;
}

header > nav > ul > li {
    padding: 10px;
    list-style:none;
    cursor: pointer;
    color: var(--color-white);
}

header > nav > ul > li:hover {
    background-color: rgba(192, 192, 192, 0.445);
}

#menu{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
    align-self: right;
    margin-left: auto;
    margin-right: 50px;
}

#seta {
    padding: 5px;
    width: 5px;
    height: 5px;
    margin: auto;
    box-shadow: 2px -2px 0 1px #ffffff inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    margin-left: auto;
    margin-right: 50px;
    transform: rotate(223deg);
}

.invisible {
    opacity: 0;
    width: 0px;
    height: 0px;
}
@keyframes move-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw);
    }
}
@keyframes move-to-back {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0px);
    }
}
.go_to_right {
    position: relative;
    animation: move-right 2s forwards;
}
.go_to_back {
    animation: move-to-back 2s forwards;
}

.hide {
    transition: 1s;
    opacity: 0;
}
.show{
    transition: 1s;
    opacity: 1;
    width: 80vw;
    height: 80vh;
}

#mobile_menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 211, 211, 0.233);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mobile_menu > nav {
    margin: auto;
    height: 100%;
    width: 50vw;
    text-align: center;
    display: flex;
    
    justify-content: center;
}

#mobile_menu > nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobile_menu > nav > ul > li {
    height: 100%;
    padding: 10px;
    list-style:none;
}
#mobile_menu > nav > ul > li > button {
    height: 100%;
    width: 50vw;
    border-radius: 10px;
    background-color: white;
    border: 0px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    header > nav > ul{
        display: none;
    }

    #seta{
        display: none;
    }

    #menu {
        display: block;
    }
}

@media screen and (max-width: 1242px) {
    header > nav {
        display: none;
    }
    header > nav > ul{
        display: none;
    }
    
    #seta{
        display: none;
    }

    #menu {
        display: block;
    }
}
