
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');


:root{
            --color-white: #fff;
            --color-dark1: rgb(39, 39, 39);
            --color-dark2: #2d2d2d;
            --color-dark3: #414141;
            --color-dark4: #1c1c1c;
            --color-dark5: #343434;
            --color-purple: #b040ff;
}

* {
    margin: 0px;
    padding: 0px;
}


main{
    background-color: var(--color-dark1);
}

section {
    height: 900px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#tecnologias {
    background-color: var(--color-white);
}
html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-content:space-around;
}
#sobre_conteiner {
    width: 70vw;
    margin: auto;
    align-content: center;
    text-align: center;
    display: flex;
}
#sobre_conteiner > div{
    display: flex;
    align-items: center;
}
#sobre_conteiner > div > p {
    color: white;
}
#sobre_conteiner > img{
    height: 20VW;
    width: 40vw;
    justify-content: center;
    text-align: center;
    align-content: center;
}
