@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
#developer_animation {
    margin: auto;
    display: flex;
}
#developer_animation > p {
    font-family: 'Black Ops One';
    font-size: 11vw;
    color: white;
}

@keyframes show {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes exit {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}
#developer_animation.active_name {
    .name{
        display: block;
    }
    .developer{
        display: none;
    }
    #I{
        margin-right: 5vw;
    }
}
#developer_animation.active_developer {
    .name{
        display: none;
    }
    .developer{
        display: block;
    }
}