:root {
    --black: #2E2C2F;
    --white: #F3E8EE;
    --header_background: #2e2c2f21;
    --header_color: black;
    --sobre_background: #495057;
    --sobre_color: rgb(194, 194, 194);
    --habilidades_background: #DEE2E6;
    --projetos_background: #212529;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Viga', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white);
}


section {
    height: 80vw;
    text-shadow: 4px 1px 9px #00000083;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
}
#home > h1 {

    text-shadow: 1px 2px 4px #0000008c;
    font-family: Roboto;
    font-size: 3rem;
    font-weight:400;
}

#github_icon, #linkedin_icon, #whatsap_icon, #email {
    cursor: pointer;
    margin: 10px;
    color: #2E2C2F;
}

#github_icon:hover {
    color: #ff0000;
}
#linkedin_icon:hover {
    color: #00aaff;
}
#whatsap_icon:hover {
    color: #37ff00;
}
#email:hover {
    color: #f16507;
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
#apresentacao > p {
    width: 50%;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    color: var(--sobre_color);
    background-color: var(--sobre_background);
    padding-top: 10px;
    padding-bottom: 10px;
}
#sobre_text{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#sobre_text > p {
    margin: auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
#my_image {
    min-width: 250px;
    height: 300px;
    width: 25%;
    border-radius: 20px;
}

.icons {
    min-width: auto;
    min-height: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#habilidades{
    background-color: var(--habilidades_background);
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    /* align-items: center; */
    min-width: auto;
    min-height: auto;
}

.skill {
    display: flex;
    align-items: center;
    margin-left:30px;
}
.skill > p {
    margin-left: 5px;
}
.skill_level {
    background-color: silver;
    width: 20vw;
    height: 10px;
}
div.skill > svg {
    height: 7vw;
    width: 7vw;
}

#python {
    background-color: orange;
    width: 90%;
    height: 10px;
}
#css {
    background-color: rgb(0, 119, 255);
    width: 40%;
    height: 10px;
}
#cplusplus {
    background-color:rgb(119, 0, 255);
    width: 56%;
    height: 10px;
}
#html5 {
    background-color: orangered;
    width: 50%;
    height: 10px;
}
#sql {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 10px;
}

#conteiner {
    background-color: #7c9191b9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin: auto;
    height: 60vh;
    border-radius: 20px;
}
#conteiner > ul {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height:50%;
}
#conteiner > div {
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#conteiner > div > p {
    display: block;
    margin: auto;
    height: auto;
    
}
#conteiner > ul > li{
    list-style: none;
}
#conteiner > ul > li > p {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: black;
    display: block;
    margin: auto;
    width:max-content;
    
}


footer, footer > a {
    color: rgba(0, 0, 0, 0.068);
}
footer {
    display: flex;
}
footer > p{
    margin: auto;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.623);
}
#dependencias {
    display: block;
    margin: 0px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.349);
}
#dependencias > a {
    color: rgba(0, 0, 0, 0.349);
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: tomato;
}

@media screen and (max-width: 714px) {
    #conteiner {
        display: none;
    }
    #home > h1 {
        font-size: 8vw;
    }
    #my_image {
        min-width: 10px;
        width: 65vw;
        height: max-content;
    }
    #habilidades {
        height: auto;
    }
    div.skill > svg {
        width: 10vw;
        height: 10vw;
    }
    .skill_level {
        width: 60vw;
    }
    header > nav {
        display: none;
    }
    #menu_mobile {
        display: block;
        margin: auto;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    #projetos {
        height: auto;
    }
    #projetos > div {
        flex-direction: column;
    }
    
    #projetos> div.inversso {
        flex-direction: column-reverse;
    }
    #projetos > div > img {
        width: 80vw;
        height: 30vw;
        border-radius: 10px;
    }
    #projetos> div.inversso > img {
        min-height: 200px;
    }
    #projetos > div > p {
        width: 95vw;
    }
}
@media screen and (max-width: 456px) {
    #projetos> div.inversso > img {
        min-height: 150px;
    }
    #projetos > div {
        height: auto;
    }
    #projetos > div > p {
        height: max-content;
        margin-bottom: 50px;
    }
    footer {
        display: none;
    }
    
}