:root {
    --black: #2E2C2F;
    --white: #F3E8EE;
    --header_background: #2e2c2f21;
    --header_color: black;
    --sobre_background: #ADB5BD;
}

*{
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white);
}


section {
    height: 80vw;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
}
#home > h1 {
    font-size: 4vw;
    font-weight: normal;
}

#github_icon, #linkedin_icon, #whatsap_icon {
    cursor: pointer;
    margin: 10px;
    color: #2E2C2F;
}

#github_icon:hover {
    color: #ff0000;
}
#linkedin_icon:hover {
    color: #00aaff;
}
#whatsap_icon:hover {
    color: #37ff00;
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
#apresentacao > p {
    width: 50%;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--sobre_background);
}
#sobre_text{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    text-align: center;
}
#sobre_text > p {
    width: 50%;
    text-align: center;
}
#my_image {
    /* margin: auto; */
    min-width: 250px;
    height: 300px;
    width: 20%;
}
